<nav class="navbar navbar-light" style="background-color: #8a8a85; display: block;">
    <a class="navbar-brand">QP Movie Rater</a>
    <div class="navbar-header">
        <button class="navbar-brand btn btn-light" routerLinkActive="active" routerLink="movie-list" style="text-align: right; font-size: medium;">Movie List</button>
        <button class="navbar-brand btn btn-light" routerLinkActive="active" routerLink="add-movie" style="text-align: right; font-size: medium;">Add Movie</button>
    </div>
</nav>

<router-outlet></router-outlet>